<h1>{{name}}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Método:</td>
  <dd>{{ getHeroeDescription()}}</dd>
</dl>


  <button
    *ngIf="name!== 'Spiderman'"
    (click)="changeHeroName('Spiderman')"
    class="mx-2 btn btn-primary" >Cambiar Nombre</button>
  <button *ngIf="age!== 22"
  class=" mx-2 btn btn-secondary" (click)="changeAge(22)">Cambiar Edad</button>
  <button class=" mx-2 btn btn-outline-primary" (click)="resetValues()">Reset</button>
